<!-- Footer Start -->

<footer>

    {% include social-buttons.html %}

    <p><br><br></p>

    <div class="container text-center">
        <p>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
        {% if site.keybase-in-footer %}
        <!-- <p style="font-size: 16px;"><a href="https://github.com/{{site.keybase-username}}" target="_blank"><i
                class="fa fa-key"></i> {{site.keybase-username}} on GitHub</a></p> -->
        {% endif %}
        <p style="font-size: 16px;">
          <i>
            <a href="https://kimdoky.github.io/categories/">내가 보려고 만든 카테고리..귀찮귀찮</a>
          </i>
        </p>
    </div>
</footer>

<p><br><br><br><br><br><br></p>

<!-- Footer End -->
